.btns {
    position: relative;
    width : 280px;
    margin-left:95px ;
}
button{
    margin-left: 25px;
}
.container{
   position: relative;
   left : 15%;
   top: 40%;
  width: 550px;
  height: 550px;
   margin-left:50px; 
   margin-top:50px; 
}
.planningForm{
    margin-top : 15px;
    margin-left: 30px;
}
.row{
    margin: 50px;
}
.label{
    display: inline-block;
    width : 70px;
    
}
.picker{
    width : 280px;
    height : 40px;
    margin-left: 25px;
}
.select {
    margin-left: 25px;
    width : 280px;
}
.picckerTime{
    width : 75px;
    margin-left: 0px;
    height: 40px;
}
.from {
    margin-left: 25px;
    width:40px ;
}
.to {
    width:40px ;
    margin-left: 16px;
}
.header{
    margin-top: 40px;
    margin-bottom: 0px;
    width: 400px;
    padding-left: 0px;
    margin-left: 5px;
    margin-bottom: 1em;
    font-size: 35px;
    font-weight: 300;
}